# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/
.env/

# VS Code and other editor configs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Pytest cache
.pytest_cache/

# MyPy cache
.mypy_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*

# Build artifacts
build/
dist/
*.egg-info/

# Logs
*.log

# dotenv files (optional — if you're keeping secrets there)
.env
.env.*

# Mac OS
.DS_Store

# Others
*.sqlite3
*.db

logs/
plugins/
working_data/
